.weather-item {
    width: 200px;
    display: flex;
    background-color: #ffffff;
    border-radius: 0.5em;
    flex-direction: column;
    justify-content: center;
}


#side-container {
    height: 100%;
    width: 34%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
#search-input {
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    margin-right: 16px;
    margin-bottom: 16px;
}
  
#search-button {
    padding: 10px;
    background-color: #0075ff;
    color: #ffffff;
    border-radius: 5px;
    border-width: 1px;
}
  
.search-result:hover {
    font-weight: bold;
    cursor: pointer;
}
  
#weather-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 15%;
    width: 90%;
  }

#weather-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-evenly;
}

#weather-and-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20%;
    width: 90%;
}

#daily-icon {
    display: block;
    float: left;
    height: 150px;
}